<nav>
<div class="navbar">
    <div class="logo">
        <img src="../../assets/logo.png" alt="logo">
    </div>
    <div class="links">
        <a href="">About </a>
        <a href="">Experience</a>
        <a href="">Projects</a>
        <a href="">Blog </a>
        <a href="">Contact</a>
        <a class="resume" href="https://www.canva.com/design/DAFOVaOfk_E/G5X6BMmZ_D-UY9CI21HJKQ/view?utm_content=DAFOVaOfk_E&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"> Resume</a>
    </div>
   
</div>
</nav>
<div class="container">
    <div class="col1">
        <a href="https://github.com/AjedidahMwanzia"><span class="iconify" data-icon="akar-icons:github-fill" style="color: grey;font-size: 1.3vw;"></span></a>
        <a href="https://www.linkedin.com/in/ajedidahmwanzia/"><span class="iconify" data-icon="akar-icons:linkedin-box-fill" style="color: grey;font-size: 1.3vw;"></span></a>
        <a href="https://www.instagram.com/ajedidah_/"><span class="iconify" data-icon="akar-icons:instagram-fill" style="color: grey;font-size: 1.3vw;"></span></a>
        <a href="https://twitter.com/AjedidahMwanzi"><span class="iconify" data-icon="akar-icons:twitter-fill" style="color: grey;font-size: 1.3vw;"></span></a>
        <!-- <div class="vl"></div> -->
    </div>
    
    <div class="col2">
        <div class="story">
            <h5>Hello, I'm <span>Ajedidah Mwanzia </span>  <br> Full Stack Developer.</h5>
            <p>I am a solution driven web developer proficient <br> at  contributing to highly collaborative work  <br>environment,finding solutions and ensuring client <br> satisfaction.  I have proven experience developing  <br> consumer-focused  websites using HTML,CSS, <br> Python,Angular,Django,Flask and Javascript.  <br>I have  designed and developed web applications <br>  across multiple APIs and databases. <br> <br> I enjoy:</p>
                <div id="list">
                    <li>Modelling</li>
                    <li>Reading/watching(fictional&science materials)</li>
                    <li>Travellig</li> 
                </div>
               
          
            <div class="buttons">
                <a href="">View Resume</a>
                <a class="contact" href="">Contact Me</a>
            </div>
        </div>
        <div class="image">
            <img src="../../assets/jay.jpeg" alt="">
        </div>
     
    </div>
    

</div>

<div class="experience" id="experience">
    <h1>Experience</h1>
         <div class="timeline">
                 <div class="container1 left" id="will2">
                     <div class="content">
                         <h2>2022:Software Development Student-Moringa School </h2>
                         <p>Build scalable and high-quality applications using python, Angular, javascript, django, and
                             Javascript. <br>
                             Designing and implementing scalable codes. <br>
                             Expert in recognizing and fixing bugs in codes.
                             Work with different APIs and their integration in projects. <br>
                             Excellent collaborator among teams.
                             Strong communication skills, working harmoniously with teams and under minimal
                             supervision. <br>
                             Excellent reporting provides prompt feedback during the development process.
                             Problem-solver who enjoys solving challenging issues through extensive research and
                             analysis.</p>
                     </div>
                 </div>
                 <div class="container1 right" id="will">
                     <div class="content">
                         <h2>2018-2020:IT Technician-Triple Tee Immigration Support </h2>
                         <p>Software, hardware and operating systems installation and configuration,<br>
                             Monitoring and maintaining computer systems and networks,<br>
                             Providing technical support,
                             Scheduling maintenance sessions, <br>
                             Training clients to use programs, <br>
                             Analyze and perform troubleshooting on all computer systems,<br>
                             Managing the client database and social media accounts.
                             </p>
                     </div>
                 </div>
         
         </div>
     </div>
 
     <div class="section2">
         <h3>Projects</h3>
     </div>

     <div id="aboutus">
        <div class="story">
          
            <div class="description">
                <span>Jay's Gallery</span>
                <p> A personal gallery application that you display your photos for others to see.<br> Technologies used :</p>
               <div id="list">
                <li>Django</li>
                <li>CSS</li>
                <li>HTML</li> 
                <li>Django-rest framework</li>
               </div>
                 
                <a href="https://jaygallery1.herokuapp.com/">View Project</a>
                
            </div>
            <div class="img">
                <img src="../../assets/home.png" alt="">
            </div>
        </div>
    </div>
     <div id="aboutus">
         <div class="story">
             <div class="img">
                 <img src="../../assets/news.png" alt="">
             </div>
             <div class="description">
                 <span>Inews</span>
                 <p>In this app a user is able to explore various news categories including breaking news, business, sports among others. Users can also check out news articles from specific media houses, and from specific countries. <br> Technologies used :</p>
                <div id="list">
                 <li>Flask</li>
                 <li>CSS</li>
                 <li>HTML</li> 
             
                </div>
                  
                 <a href="https://jaynews.herokuapp.com/">View Project</a>
             </div>
         </div>
     </div>
 
     <div id="aboutus">
         <div class="story">
             <div class="description">
                 <span>Quote Generator</span>
                 <p> web application made using Angular where users can create quotes and have those quotes voted on whether they are inspirational or not <br> Technologies used :</p>
                <div id="list">
                 <li>Angular</li>
                 <li>CSS</li>
                 <li>HTML</li> 
                 <li>Javascript</li>
                </div>
                  
                 <a href="https://ajedidahmwanzia.github.io/quote-generator/">View Project</a>
             </div>
             <div class="img">
                <img src="../../assets/screenshot.png" alt="">
            </div>
         </div>
     </div>
     <div class="load">
         <hr><a href="https://github.com/AjedidahMwanzia">Load More</a>
     </div>
   