<nav>
<div class="navbar">
    <div class="logo">
        <img src="../../assets/logo.png" alt="logo">
    </div>
    <div class="links">
        <a href="">About </a>
        <a href="">Experience</a>
        <a href="">Projects</a>
        <a href="">Blog </a>
        <a href="">Contact</a>
        <a class="resume" href="https://www.canva.com/design/DAFOVaOfk_E/G5X6BMmZ_D-UY9CI21HJKQ/view?utm_content=DAFOVaOfk_E&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"> Resume</a>
    </div>
   
</div>
</nav>
<div class="herosection">
    <div class="text">
        <h6> </h6>
        <p></p>
    </div>
    <div class="image">
        <img src="../../assets/jay.jpeg" alt="">
    </div>
</div>