<nav>
<div class="navbar">
    <div class="logo">
        <img src="../../assets/logo.png" alt="logo">
    </div>
    <div class="links">
        <a href="">About </a>
        <a href="">Experience</a>
        <a href="">Projects</a>
        <a href="">Blog </a>
        <a href="">Contact</a>
        <a class="resume" href="https://www.canva.com/design/DAFOVaOfk_E/G5X6BMmZ_D-UY9CI21HJKQ/view?utm_content=DAFOVaOfk_E&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"> Resume</a>
    </div>
   
</div>
</nav>
<div class="container">
    <div class="col1">
        <a href="https://github.com/AjedidahMwanzia"><span class="iconify" data-icon="akar-icons:github-fill" style="color: grey;font-size: 1.3vw;"></span></a>
        <a href="https://www.linkedin.com/in/ajedidah-mwanzia/"><span class="iconify" data-icon="akar-icons:linkedin-box-fill" style="color: grey;font-size: 1.3vw;"></span></a>
        <a href="https://www.instagram.com/ajedidah_/"><span class="iconify" data-icon="akar-icons:instagram-fill" style="color: grey;font-size: 1.3vw;"></span></a>
        <a href="https://twitter.com/AjedidahMwanzi"><span class="iconify" data-icon="akar-icons:twitter-fill" style="color: grey;font-size: 1.3vw;"></span></a>
        <!-- <div class="vl"></div> -->
    </div>
    
    <div class="col2">
        <div class="story">
            <h5>Hello, I'm <span>Ajedidah Mwanzia </span>  <br> Full Stack Developer.</h5>
            <p>I am a solution driven web developer proficient <br> at  contributing to highly collaborative work  <br>environment,finding solutions and ensuring client <br> satisfaction.  I have proven experience developing  <br> consumer-focused  websites using HTML,CSS, <br> Python,Angular,Django,Flask and Javascript.  <br>I have  designed and developed web applications <br>  across multiple APIs and databases. <br> <br> I enjoy:</p>
                <div id="list">
                    <li>Modelling</li>
                    <li>Reading/watching(fictional&science materials)</li>
                    <li>Travellig</li> 
                </div>
               
          
            <div class="buttons">
                <a href="">View Resume</a>
                <a class="contact" href="">Contact Me</a>
            </div>
        </div>
        <div class="image">
            <img src="../../assets/jay.jpeg" alt="">
        </div>
     
    </div>
    

</div>