.navbar{
    display: flex;
    justify-content: space-around;
    padding-top: 1vw;
    margin-bottom: 1vw;
    background-color:  #161b22;
    margin-left: 5vw;
}
.links a{
    padding: 1.5vw;
    text-decoration: none;
    color:white;
    font-size: 0.9vw;
    

}
.logo img{
    width: 2vw;
    height: auto;
    margin-left: -7vw;
}
.resume a{
    color: red;
}